* {
    box-sizing: border-box;
    margin: 0;
}

header {
    height: 30vh; width: 75vw;
    top: 0; left: 0;
    border: 1px solid black;
    position: absolute;
}

h1 {
    text-align: left;
    margin: 10px;
    color: blue;
}

.outer-input-box {
    height: 15vh; width: 75vw;
    bottom: 0;
    border-top: 1px solid black;
    position: absolute;
    background-color: aquamarine;
}

.result-box {
    position: absolute;
    height: 9vh; width: 65vw;
    bottom: 0; right: 0;
    margin-top: 1vh; margin-bottom: 1vh;
    padding-top: 1vh; padding-bottom: 1vh;
    text-align: right;
    overflow: auto;
    font-size: 40px;
}

.expression-box {
    position: absolute;
    text-align: right;
    height: 3vh; width: 65vw;
    right: 0;
    color: grey;
}

aside {
    position: absolute;
    height: 100vh; width: 25vw;
    top: 0; right: 0;
    background-color: lightcoral;
}

aside > section {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    height: 80vh; width: 25vw;
    margin-top: 20px;
    overflow: auto;
}

aside > section > div {
    text-align: end;
    margin-top: 5px; margin-bottom: 5px;
    max-width: 99%;    
}

p#lhs {
    font-size: 15px;
    color: silver;
}

p#rhs {
    font-size: 20px;
    color: white;
}

aside > img {
    position: absolute;
    height: 5%; width: 7%;
    bottom: 10px; right: 10px;
}

main {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(6, 16.67%);
    border: 1px solid black;
    height: 70vh; width: 75vw;
    bottom: 0; left: 0;
    background-color: darkblue;
}

main > section {
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

section.operation, section.item-openb, section.item-closeb, section.item-period {
    font-size: 30px;
}

main > section > img {
    max-width: 40%;
    max-height: 40%;
    object-fit: cover;
}

.equalto {
    background-color:orange;
}

.operation, .special, .clear {
    background-color: gray;
}

.digit, .sign {
    background-color: lightgray;
}

@media screen and (max-width: 480px) {

    .outer-input-box {
        height: 20vh;
    }

    .result-box {
        height: 12vh; width: 95vw;
        font-size: 40px;
        margin-left: 2.5vw; margin-right: 2.5vw;
        bottom: 0;
    }

    .expression-box {
        height: 4vh; width: 100vw;
    }

    main > section {
        font-size: 30px;
    }
    
    section.operation, section.item-openb, section.item-closeb, section.item-period {
        font-size: 40px;
    }

    main, header, .outer-input-box {
        width: 100vw;
    }

    header {
        height: 40vh;
    }
    main {
        height: 60vh;
    }

    main > section {
        border-radius: 3px;
    }
}